---
import Layout from "../layouts/Layout.astro";
import { Chip } from "../components/Chip";
import { AiFillHeart } from "react-icons/ai";
import { MdOutlineChurch } from "react-icons/md";
import { MdOutlineWhatshot } from "react-icons/md";
import { Button } from "../components/Button";
import { Testimonials } from "../components/Testimonials";
import { Carousel } from "../components/Carousel";
---

<Layout title="Avivamiento Yucatán">
  <h1
    class="col-span-6 font-semibold text-[53px] tracking-[-3px] leading-[55px] mt-6"
  >
    Llegaste en el momento indicado. <br />
    Estás en casa
  </h1>
  <h2 class="col-span-6 mt-4">
    Lorem ipsum dolor sit amet consectetur. Ut varius nunc ornare eget. Lacus
    nec et lectus.
  </h2>
  <section class="col-span-6 mt-6">
    <h2 class="text-2xl font-medium mb-6">Servicios</h2>
    <Carousel client:load />
  </section>
  <section class="col-span-6">
    <h3 class="font-medium mt-4 text-xl">Nosotros</h3>
    <div class="flex mt-4 ml-[-8px] justify-between">
      <Chip client:load label={"Pastores"} invertColors
        ><AiFillHeart slot="Icon" size={20} /></Chip
      >
      <Chip client:load label={"Iglesia"}
        ><MdOutlineChurch slot="Icon" size={20} /></Chip
      >
      <Chip client:load label={"Creencias"}
        ><MdOutlineWhatshot slot="Icon" size={20} /></Chip
      >
    </div>
    <!-- TODO: Correct center image on pastors face -->
    <img src="/images/pastors.jpeg" class="mt-8 rounded-[16px]" />
    <h2 class="text-center text-2xl mt-8 font-medium">
      José Manuel y Patricia
    </h2>
    <p class="text-center mt-8 leading-7">
      Lorem ipsum dolor sit amet consectetur. Orci lectus lectus aliquam sit
      potenti integer. Consequat mauris facilisis molestie tellus proin et
      pellentesque sodales
    </p>
    <Button classes="mt-8" fullWidth>Leer más</Button>
  </section>
  <section class="col-span-6">
    <h4 class="text-2xl tracking-tight text-center font-medium mt-16">
      Salmo 56:3
    </h4>
    <p
      class="font-medium text-[54px] tracking-tighter leading-[55px] text-center mt-4"
    >
      En el día que temo yo en ti confío
    </p>
  </section>
  <section class="col-span-6 mb-10">
    <h2 class="text-2xl font-medium mt-20 mb-8">Testimonios</h2>
    <Testimonials />
    <Button classes="mt-8" fullWidth
      ><span class="font-medium text-base">Dar mi testimonio</span></Button
    >
  </section>
</Layout>
